.home-sec {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

@media (max-width: 1024px) {
  .home-sec {
    flex-direction: column-reverse;
    align-items: center;
  }
}
