.newmentor {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .newmentor_article {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
} */


@media (min-width: 768px) {
  .newmentor {
    width: 66.666667%;
  }
}

@media (min-width: 1024px) {
  .newmentor {
    width: 33.333333%;
  }
}
